.title {
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    position: relative;
    padding-bottom: 1rem;
    letter-spacing: 3px;
    &::before {
        content: '';
        bottom: 0;
        position: absolute;
        left: 0;
        background-color: #ae32573f;
        width: 6rem;
        height: 0.4rem;
        border-radius: 50px;
    }
    &::after {
        content: '';
        bottom: 0;
        position: absolute;
        left: 0;
        background-color: #ae3258;
        width: 3rem;
        height: .4rem;
        border-radius: 50px;
    }
    span {
        position: absolute;
        top: 3%;
        left: 0;
        font-size: 5rem;
        opacity: 0.07;
    }

    @media screen and (max-width: 768px) {
        margin-top: 30px;
        padding-bottom: 10px;
        font-size: 27px;
        letter-spacing: 2px;
        span {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .title-wrapper {
        display: flex;
        justify-content: center;
    }
}